@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
body{
    background-color: white;
}
h1{
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    font-size: 68px;
}
.green{
    color: green;
}
.blue{
    color: skyblue;
}
.red{
    color: maroon;
}